openapi: 3.0.1
info:
  title: Medical Appointment Backend
  version: "1.0.0"
paths:
  /appointments:
    post:
      summary: Create appointment (enqueue)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppointment'
      responses:
        '202':
          description: Accepted
  /appointments/{insuredId}:
    get:
      summary: Get appointments by insuredId
      parameters:
        - name: insuredId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    CreateAppointment:
      type: object
      properties:
        insuredId:
          type: string
        scheduleId:
          type: integer
        countryISO:
          type: string
          enum: [PE, CL]
      required:
        - insuredId
        - scheduleId
        - countryISO
